.lists {
  list-style: none;
}
.logotype,
.navigation-list-links,
.contacts-list-mail,
.contacts-list-phone,
.contacts-portfolio,
.list-examples-item-links,
.mail-foot,
.tel-foot {
  text-decoration: none;
}
.social-link-svg {
  fill: #afb1b8;
}
